   <script src="/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
   <script src="/static/assets/js/vendor/waypoints.min.js"></script>
   <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
   <script src="/static/assets/js/meanmenu.js"></script>
   <script src="/static/assets/js/swiper-bundle.min.js"></script>
   <script src="/static/assets/js/owl.carousel.min.js"></script>
   <script src="/static/assets/js/magnific-popup.min.js"></script>
   <script src="/static/assets/js/parallax.min.js"></script>
   <script src="/static/assets/js/backToTop.js"></script>
   <script src="/static/assets/js/cookie.js"></script>
   <script src="/static/assets/js/style-switcher.js"></script>
   <script src="/static/assets/js/nice-select.min.js"></script>
   <script src="/static/assets/js/parallax.js"></script>
   <script src="/static/assets/js/counterup.min.js"></script>
   <script src="/static/assets/js/jquery.countdown.min.js"></script>
   <script src="/static/assets/js/ajax-form.js"></script>
   <script src="/static/assets/js/wow.min.js"></script>
   <script src="/static/assets/js/isotope.pkgd.min.js"></script>
   <script src="/static/assets/js/imagesloaded.pkgd.min.js"></script>
   <script src="/static/assets/js/main.js"></script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="/static/assets/js/custom.js"></script>
   <script src="/static/assets/js/change-profile-image.js"></script>