{%  extends 'base/base.html' %}
{% block title %}
تغبر رمز عبور
{% endblock %}
{% block content %}
<section class="sign-up-area pt-130 pb-90" >
         <div class="container">
            <div class="row">
               <div class="col-lg-7">
                  <div class="sign-up-wrapper pos-rel mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                     <div class=" sign-up-inner">
                        <div class="sign-up-content">
                           <form class="sign-up-form" action="{% url 'change-password-page' string %}" method="post">
                               {% csrf_token %}
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="single-input-unit">
                                        {{ form.password }}
                                        {{ form.password.errors }}
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="single-input-unit">
                                        {{ form.confirm_password }}
                                        {{ form.confirm_password.errors }}
                                    </div>
                                 </div>

                              </div>
                              <div class="sign-up-btn">
                                 <button type="submit" class="fill-btn">تایید</button>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="sign-up-with-social">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}