       {% load jalali_tags %}
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="{% url 'admin-panel' %}">
                            <img src="/static/admin/images/icon/logo-white.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fa fa-group"></i>
                                    <span class="bot-line"></span>انجمن</a>
                                <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="{% url 'admin-panel-association-list' 'all' 1 %}">انجمن ها</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-association-goals-list' 'all' 1 %}">اهداف انجمن</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-association-categories-list' 'all' 1 %}">دسته بندی انجمن</a>
                                </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fa fa-briefcase"></i>
                                    <span class="bot-line"></span>دوره ها</a>
                                <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="{% url 'admin-panel-courses-list' 'all' 1 %}">دوره ها</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-prerequisites-list' 'all' 1 %}">پیشنیاز های دوره</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-categories-course-list' 'all' 1 %}">دسته بندی دوره ها</a>
                                </li>
                                </ul>
                            </li>
                            <li>
                                <a href="{% url 'admin-panel-science-list' 'all' 1 %}">
                                    <i class="fa fa-book"></i>
                                    <span class="bot-line"></span>موضوعات علمی</a>
                            </li>
                            <li>
                                <a href="{% url 'admin-panel-news-list' 'all' 1 %}">
                                    <i class="fa fa-newspaper"></i>
                                    <span class="bot-line"></span>اخبار</a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>تنظیمات
                                    <span class="bot-line"></span>
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                <li>
                                    <a href="{% url 'admin-panel-main-setting-list' 'all' 1 %}">تنظیمات سایت</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-about-us-list' 'all' 1 %}">درباره ی ما</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-footer-category-list' 'all' 1 %}">دسته بندی های فوتر</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-footer-sub-category-list' 'all' 1 %}">لینک های فوتر</a>
                                </li>
                                </ul>
                            </li>
                            <li>
                            <a href="{% url 'admin-panel-user-list' 'all' 1 %}">
                                <i class="fas fa-book"></i>کاربران </a>
                        </li>
                            <li>
                                <a href="{% url 'admin-panel' %}">
                                    <i class="fa fa-key"></i>
                                    <span class="bot-line"></span>پنل ادمین</a>
                            </li>


                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="header-button-item has-noti js-item-menu">
                            <i class="zmdi zmdi-notifications"></i>
                            <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                  !  شما {{ contacts_count }} پیام جدید دارید
                                </div>
                                {% for contact in contacts %}
                                    <a href="{% url 'admin-panel-contacts' contact.pk %}">
                                   <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>{{ contact.subject }}</p>
                                        <span class="date">{{ contact.date | to_jalali }}, {{ contact.time }}</span>
                                    </div>
                                </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}">
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">{{ user.username }}</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                                                    {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}">
                                    {% endif %}
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">{{ user.username }}</a>
                                            </h5>
                                            <span class="email">{{ user.email }}</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'index-page' %}">
                                                        <i class="zmdi zmdi-home"></i>خانه</a>
                                                </div>
                                            </div>
                                    <div class="account-dropdown__footer">
                                        <a href="{% url 'logout' %}">
                                            <i class="zmdi zmdi-power"></i>خروج</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="{% url 'admin-panel' %}">
                            <img src="/static/admin/images/icon/logo-white.png" alt="CoolAdmin">
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="{% url 'admin-panel' %}">
                                <i class="fa fa-key"></i>پنل ادمین</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="zmdi zmdi-settings"></i>تنظیمات</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{% url 'admin-panel-main-setting-list' 'all' 1 %}">تنظیمات سایت</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-about-us-list' 'all' 1 %}">درباره ی ما</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-footer-category-list' 'all' 1 %}">دسته بندی های فوتر</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-footer-sub-category-list' 'all' 1 %}">لینک های فوتر</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'admin-panel-news-list' 'all' 1 %}">
                                <i class="fa fa-newspaper"></i>اخبار</a>
                        </li>
                        <li>
                            <a href="{% url 'admin-panel-science-list' 'all' 1 %}">
                                <i class="fas fa-book"></i>موضوعات علمی</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-group"></i>انجمن</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{% url 'admin-panel-association-list' 'all' 1 %}">انجمن ها</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-association-goals-list' 'all' 1 %}">اهداف انجمن</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-association-categories-list' 'all' 1 %}">دسته بندی انجمن</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-briefcase"></i>دوره ها</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="{% url 'admin-panel-courses-list' 'all' 1 %}">دوره ها</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-prerequisites-list' 'all' 1 %}">پیشنیاز های دوره</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin-panel-categories-course-list' 'all' 1 %}">دسته بندی دوره ها</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'admin-panel-user-list' 'all' 1 %}">
                                <i class="fas fa-book"></i>کاربران </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>

                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                                <div class="notifi__title">
                                  !  شما {{ contacts_count }} پیام جدید دارید
                                </div>
                                {% for contact in contacts %}
                                    <a href="{% url 'admin-panel-contacts' contact.pk %}">
                                   <div class="notifi__item">
                                    <div class="bg-c1 img-cir img-40">
                                        <i class="zmdi zmdi-email-open"></i>
                                    </div>
                                    <div class="content">
                                        <p>{{ contact.subject }}</p>
                                        <span class="date">{{ contact.date | to_jalali }}, {{ contact.time }}</span>
                                    </div>
                                </div>
                                    </a>
                                {% endfor %}
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                                                                {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}">
                                    {% endif %}
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">{{ user.username }}</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                                                            {% if user.avatar %}
                                    <img src="{{ user.avatar.url }}">
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        {{ user.username }}
                                    </h5>
                                    <span class="email">{{ user.email }}</span>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>خروج</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->