{% extends 'base/base.html' %}
{% load thumbnail %}
{% load polls_extra %}
{% block title %}
پروفایل دبیر
{% endblock %}
{% block content %}

<section class="creator-details-area pt-0 pb-90">
         <div class="creator-cover-img creator-details-cover-img pos-rel wow fadeInUp" style="margin-bottom: 20px">

         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-6 col-md-8">
                  <div class="creator-info-details mb-40 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                     <div class="creator-cover-img pos-rel">
                         {% if teacher.background_image %}
                        <img src="{{ teacher.background_image.url }}" alt="cover-img">
                        {% else %}
                        <img src="/static/assets/img/defult-background.png" alt="cover-img">
                         {% endif %}
                     </div>
                     <div class="creator-img-name">
                        <div class="profile-img pos-rel">
                            {% if teacher.avatar %}
                            <img src="{{ teacher.avatar.url }}" alt="profile-img" style="border-radius: 45%; width: 150px">
                            {% else %}
                            <img src="/static/assets/img/defult-avatar.png" alt="profile-img" style="border-radius: 45%; width: 150px">
                            {% endif %}
                        </div>
                        <div class="creator-name-id">
                           <h4 class="artist-name pos-rel">
                              {{ teacher.first_name }} {{ teacher.last_name }}
                           </h4>
                           <div class="artist-id">{{ teacher.username }}@</div>
                        </div>
                         <p>
                             {{ teacher.about_user }}
                         </p>
{#                         <button class="fill-btn">#}
{#                             <a href="{% url 'chat-page' teacher.username %}">ارسال پیام</a>#}
{#                         </button>#}
                     </div>
                  </div>
               </div>



               <div class="col-xl-9">
                  <div class="creator-info-tab wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                     <div class="creator-info-tab-nav mb-30">
                         <hr>
                        <h3>دوره های {{ teacher.username }} </h3>
                         <hr>
                     </div>
                     <div class="creator-info-tab-contents mb-30">
                        <div class="tab-content" id="nav-tabContent">
                           <div class="tab-pane fade active show" id="tab-nav1" role="tabpanel" aria-labelledby="nav-created-tab">
                              <div class="created-items-wrapper">
                                 <div class="row">
                                 {% if not courses %}
                                 <p>این دبیر دوره ای ندارد.  </p>
                                 {% endif %}
                                        {% for cours in courses %}
                                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                       <div class="art-item-single mb-30">
                                          <div class="art-item-wraper">
                                             <div class="art-item-inner">
                                                <div class="art-item-img pos-rel">
                                        {% thumbnail cours.image_on_courses_list "200x200" quality=95 crop='center' as im  %}
                                            <a href="{% url 'course-detail-page' cours.name %}"><img src="{{ im.url }}" alt="art-img"></a>
                                        {% endthumbnail %}
                                                </div>
                                                <div class="art-item-content pos-rel">
                                                   <h4 class="art-name"><a href="{% url 'course-detail-page' cours.name %}">{{ cours.name }}</a>
                                                   </h4>
                                                   <div class="art-meta-info">
                                                      <div class="art-activity-btn">
                                        <div class="art-activity-btn">وضعیت : {{ cours.situation }} </div>
                                        <div class="art-activity-btn">قیمت : {{ cours.price | three_digits_currency }} </div>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                        {% endfor %}

                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
{% endblock %}