{% extends 'admin-panel/base/base.html' %}
{% block content %}
<div class="col-lg-12" style="text-align: right">
								<div class="card" style="margin-top: 100px">
									<div class="card-header">
										<h4>حذف دسته بندی دوره</h4>
									</div>
									<div class="card-body">
										<p class="text-muted m-b-15"> را حذف کنید ؟{{ category.category }} ایا مطمئنید که میخواهید دسته بندی </p>
										<p class="text-muted m-b-15">توجه داشته باشید که با این کار تمام رابطه های بین این جدول با جدول های دیگر حذف خواهد شد  </p>
                                        <br>
                                        <a href="{% url 'admin-panel-categories-course-list' 'all' 1 %}"><button type="submit" class="btn btn-primary btn-sm" style="width: 100px">بازگشت</button></a>
                                        <br>
                                        <br>
                                        <form action="{% url 'admin-panel-delete-course-category' category.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm" style="width: 100px">حذف</button>
                                        </form>
									</div>
								</div>
							</div>
{% endblock %}